<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header></header>
    <main>
        <%- include('_tweet', { tweet: tweet }); %>
        <form id="tweet-form" action="/tweets/<%= tweet.id %>/update" method="POST">
            <input id="tweet-form-handle" type="text" name="username" placeholder="@ethernetsalad" value="<%= tweet.username %>">
            <textarea id="tweet-form-body" name="message" placeholder="What's happening?"><%= tweet.message %></textarea>
            <button id="tweet-form-button">Update Tweet</button>
        </form>
    </main>
  </body>
</html>