<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
        </header>
        <main>
            <form id="tweet-form" action="/tweets/create" method="POST">
                <input id="tweet-form-handle" type="text" name="username" placeholder="@ethernetsalad">
                <textarea id="tweet-form-body" name="message" placeholder="What's happening?"></textarea>
                <button id="tweet-form-button">Tweet</button>
            </form>
            <% for(var i = 0; i < tweets.length; i++) { %>
                <%- include('_tweet', { tweet: tweets[i] }); %>
              <% } %>
        </main>
    </body>
</html>